@import 'utils/design';

//	Table Header - Styles

table {
	margin: 16px 0;
	align-self: flex-start;
	* { font-size: 14px; }

	tr {
		transition: 0.4s;

		&.selected-row {
			background: #0582F036 !important;
		}

		@media (min-width:1024px) {
			&:hover {
				cursor: pointer;
			}
		}

		th,td {
			padding: 12px 16px;
			overflow: hidden;
			max-width: 50vw;
			white-space: pre;

			.table-checkbox,
			.table-checkbox-all {
				@include flex-row;
				min-width: 16px;
				max-width: 16px;
				min-height: 16px;
				max-height: 16px;

				transition: 0.2s;
				border-radius: 4px;
				border: 1px solid $_dark04;
			}
		}
	}

	thead > tr {
		background: #0582F020;
		background: $_light01;

		th {
			color: $_dark02;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	&.border {
		th,td {
			border: 1px solid $_light03;
		}
	}
}