
// --------- Food Delivery - Colors --------- //

	//	Basic Colors
	$_black		: #333333	;
	$_red		: #FF5756	;
	$_purple	: #78147E	;
	$_purple2	: #432D6F	;
	$_purple3	: #7C4DFF	;
	$_blue		: #0582F0	;
	$_cyan		: #00FFFF	;
	$_green		: #4AAF05	;
	$_yellow	: #FAFA00	;
	$_white		: #FAFAFA	;

// --------- Pallete - Colors -------- //

	$prim	: #9B51E0	;
	$prim01	: #9B51E024	;
	$prim02	: #9B51E012	;

	$txt-01	: #FAFAFA	;
	$txt-02	: #CCCCCC	;
	$txt-03	: #AAAAAA	;
	$txt-04	: #727272	;
	$txt-05	: #646464	;
	$txt-06	: #333333	;

	$lbg-01	: #FAFAFA	;
	$lbg-02	: #F7F7F7	;
	$lbg-03	: #EEEEEE	;
	$lbg-03	: #E7E7E7	;

	$dbg-01	: #222222	;
	$dbg-02	: #333333	;
	$dbg-03	: #555555	;
	$dbg-03	: #777777	;

	$sh-01	: #00000016	;
	$sh-02	: #00000024	;
	$sh-03	: #00000032	;

// --------- roduct Manager - Colors -------- //

// sets Background, text Color and Border
@mixin setColor (
	$backg	: #f1f5f9,
	$color	: #1e293b,
	$border	: #f1f5f9,
) {
	background	: $backg	;
	color		: $color	;
	border		: 1px solid $border	;
}

// setColor function, for :hover
@mixin setHover (
	$backg	: #f1f5f9,
	$color	: #1e293b,
	$border	: #f1f5f9,
) {
	&:hover {
		background	: $backg	;
		color		: $color	;
		border		: 1px solid $border	;
	}
}