@import 'utils/design';

.App {
	text-align: center	;
	margin: 64px 0 0	;

	// remove outline bootstrap effect
	* :focus {
		outline: none;
		box-shadow: none;
	}

	.menu-switch {
		max-width: 20vw		;
		align-self: center	;

		// fixes theme switch button transition effects
		* {
			transition:
				color 				0.15s ease-in-out	,
				border-color		0.15s ease-in-out	,
				background-color	0.15s ease-in-out	;
		}

		// fixes theme switch button colors during effects
		.form-check-input {

			&:checked {
				background-color: var( --bs-gray-700 )	;
				border-color	: var( --bs-gray-700 )	;
				background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e");
			}

			&:focus {
				border-color: rgba(0, 0, 0, 0.55);
				box-shadow: none;
				background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e");
			}
		}
	}

	// fixes label text colors for both light and dark themes
	.bg-light {
		label {
			color: rgba(0, 0, 0, 0.55) !important;
		}
	}

	.bg-dark {
		label {
			color: rgba(256, 256, 256, 0.55) !important;
		}
	}
}