@import 'utils/design';

button {
	border: none;
	max-width: 100%;
	max-height: 100%;
	// background: none;

	padding: 8px 24px;

	&:focus {
		outline: none !important;
	}

	&:hover {
		@media (min-width:768px) {
			cursor: pointer;
		}
	}
}