@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap/scss/bootstrap";
@import 'utils/design';

/*
$theme-colors: (
    "light"	: #F4F4F4	,
    "dark"	: teal		,
);
*/


body {
	margin: 0;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	* {
		max-width: 100%;
		max-height: 100%;
	}
}